
:global body {
    margin: 0;
}

@keyframes bounceIn  {
    0% {
        opacity: 1;
        transform: scale3d(1,1,1);
    }
    30% {
        transform: scale3d(1.5,1.5,1.5);
    }
    60% {
        transform: scale3d(.5,.5,.5);
    }
    100% {
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}

.bounceIn {
    animation-name: bounceIn 1s infinite ease-in-out;
}

@keyframes bounce {
  33% { transform: translateY(-20px); }
  66% { transform: translateY(0px); }
}

.bounce {
  animation: bounce 1s infinite ease-in-out;
}
